*{
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
   
    text-align: center;
}
    @media screen and (max-width:1200px) and(min-width:750px){
            .cont{
                background-color: pink;
            }
        }

        @media screen and (max-width:750px){
            .cont{
                background-color: orange;
            }
        }



#navbar{
    height: 60px;
    width: 100%;
    /* display: inline-block; */
    background-color: #e3e3e3;
    position: fixed;
    text-align: center;
    text-decoration: none;
    cursor: pointer;


    
}

#search{
    background-color: #456882;
    cursor: pointer;

}

#logo{
    color: #0c2b4e;
    font-size: 35px;
    font-weight: bold;
    font-family:cursive ;
}
a{
    margin-right: 100px;
    /* text-decoration: none; */
    color: #1b3c53;
}

main{
    background-image: url("hills_photo.jpg");
    background-size: cover;
    height: 500px;
}

#content{
    height: 250px;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    color: #0c2b4e;
    
}

p{
    font-style: inherit;
}

#contbutton{
    color: black;
    background-color: #e3e3e3;
    height: 20px;
    width: 150px;
    border: 2px double black ;
    border-radius: 10px;
    cursor: pointer;
   
}


.imgs{
    height: 600px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   



.content{
    height: 400px;
    width: 200px;
    border: 2px double #1b3c53;
    margin-top: 50px;
    background-color:#e3e3e3;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

}

img{
    width: 200px;
    height: 200px;
    border: 1px solid #0c2b4e;
}

.imgbutton{
    background-color: #aecae0;
    color: #0c2b4e;
    align-items: center;
    border: 2px solid #0c2b4e;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

h3{
    font-style: inherit;
    color: #03528b;
}

h1{
    align-items: center;
    color: #0c2b4e;
    font-family: cursive;
}

#content3{
    height: 250px;
    /* width: 100%; */
    /* border: 1px solid black; */
    background-image: url(hills_photo.jpg);
    background-size: cover;
    margin-top: 10px;
    padding: px;
    margin-right: -130px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: "Priceparis Pricemaldives Pricebali Pricenewyork"

}

#Priceparis{
    grid-row: Priceparis;
}

#Pricemaldives{
    grid-row: Pricemaldives;
}

#Pricebali{
    grid-area: Pricebali;
}

#Pricenewyork{
    grid-row: Pricenewyork;
}

.Price{
    height: 150px;
    width: 200px;
    border: 2px double #1b3c53;
    margin-top: 20px;
    background-color:#e3e3e3;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#footercont{
    height: 50px;
    width: 100%;
    color: #e3e3e3;
    background-color: black;
    margin-top: 100px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}


   